html, body {
    background-color: #eee;
}

body {
    font-family: 'Noto Serif KR', serif;
}

.bg-purple {
    background-color: #6f42c1;
}

.main-cont {
    background-color: #fff;
    padding:75px 30px;
}

.emotion-btn-wrap {
    margin:0.5em 0;
    padding:0 2.5em;
}

.emotion-btn {
    padding-top:1em;
    padding-bottom:1em;
}

.doc-cont-view {
    margin:2em 0;
}

#user-menu {
    min-width:8em;
}

.avatar {
    width:1.5em;
    border-radius:3px;
    margin-right:0.5em;
}

#rank-list .rank {
    font-size:100%;
    margin-right:1em;
}

#view-list th {
    text-align:center;
}

#view-list .badge {
    font-size:85%;
}

#view-list .polarity, #view-list .emotion {
    min-width:4em;
    text-align:center;
}

#view-list .time {
    min-width:8em;
    text-align:center;
}

#view-list .del button {
    font-size:150%;
    padding:0;
}